.image-2-icon {
  position: absolute;
  top: 323px;
  left: 153px;
  width: 409px;
  height: 409px;
  object-fit: cover;
}
.frame-child63 {
  position: absolute;
  top: 214px;
  left: calc(50% + 21px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  width: 579px;
  height: 696px;
}
.email-address,
.please-enter-your,
.welcome-back {
  position: absolute;
  left: 824px;
  display: inline-block;
}
.welcome-back {
  top: 294px;
  font-size: var(--font-size-29xl);
  line-height: 120%;
  font-weight: 600;
  color: var(--color-royalblue);
  width: 380px;
}
.email-address,
.please-enter-your {
  line-height: 150%;
}
.please-enter-your {
  top: 355px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  width: 414px;
}
.email-address {
  top: 414px;
  font-weight: 600;
  color: var(--color-gray-200);
  width: 380px;
}
.namecompagnycom {
  position: relative;
  line-height: 150%;
}
.input15 {
  position: absolute;
  top: 446px;
  left: 824px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 380px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.div281,
.password1 {
  line-height: 150%;
  display: inline-block;
}
.password1 {
  position: absolute;
  top: 518px;
  left: 824px;
  font-weight: 600;
  color: var(--color-gray-200);
  width: 380px;
}
.div281 {
  position: relative;
  width: 116px;
  height: 28px;
  flex-shrink: 0;
}
.input16 {
  position: absolute;
  top: 550px;
  left: 824px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 380px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xl) var(--padding-base) var(--padding-9xl)
    var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-11xl);
  font-family: var(--font-raleway);
}
.log-in {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.button2 {
  position: absolute;
  top: 670px;
  left: 824px;
  border-radius: var(--br-5xs);
  background-color: var(--color-royalblue);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  width: 380px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.image-2-parent {
  position: relative;
  background: linear-gradient(#0070ff, #0070ff), #f8f9fb;
  width: 100%;
  height: 1125px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}
