.frame-child {
  position: absolute;
  top: 104px;
  left: calc(50% - 690px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  width: 1380px;
  height: 981px;
}
.frame-item {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  border-radius: 0 0 var(--br-xl) var(--br-2xl);
  background-color: var(--color-royalblue);
  width: 1440px;
  height: 68px;
}
.frame-inner {
  position: absolute;
  top: 104px;
  left: 30px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 1380px;
  height: 91px;
}
.supporting-text,
.text {
  position: absolute;
  left: 54px;
  font-family: var(--font-poppins);
}
.text {
  top: 124px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 500;
  color: var(--color-gray-300);
}
.supporting-text {
  top: 156px;
  font-size: var(--text-sm-medium-size);
  line-height: 20px;
  color: var(--gray-500);
  display: inline-block;
  width: 251px;
}
.filter-lines-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.text1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button-base {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-6,
.button-6-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-6 {
  border-radius: var(--br-5xs);
}
.button-6-wrapper {
  position: absolute;
  top: 130px;
  left: 1059px;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--font-poppins);
}
.button-base1 {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-5,
.button-base1,
.button-base2 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-5 {
  position: absolute;
  top: 130px;
  left: 1177px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--font-poppins);
}
.button-base2 {
  background-color: var(--color-royalblue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-royalblue);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-01,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-5xs);
}
.button-01 {
  top: 130px;
  left: 1297px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-sm-medium-size);
  font-family: var(--font-poppins);
}
.rectangle-div {
  top: 213px;
  left: 54px;
  background-color: var(--color-royalblue);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 44px;
}
.icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.field-text {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.contents {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.line {
  position: relative;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 613px;
  height: 1px;
}
.search {
  position: absolute;
  top: 126px;
  left: 329px;
  width: 612px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.div,
.div1,
.div2,
.div3,
.div4,
.id,
.sno {
  position: absolute;
  top: 225px;
  left: 138px;
  line-height: 20px;
  font-weight: 600;
}
.div,
.div1,
.div2,
.div3,
.div4,
.sno {
  left: 79px;
}
.div,
.div1,
.div2,
.div3,
.div4 {
  left: 272px;
}
.div1,
.div2,
.div3,
.div4 {
  left: 387px;
  display: inline-block;
  width: 46px;
  height: 20px;
}
.div2,
.div3,
.div4 {
  left: 498px;
  width: 19px;
}
.div3,
.div4 {
  left: 612px;
  width: 26px;
}
.div4 {
  left: 703px;
  width: 38px;
}
.div5 {
  left: 806px;
}
.action,
.div5,
.div6,
.div7,
.div8 {
  position: absolute;
  top: 225px;
  line-height: 20px;
  font-weight: 600;
}
.div6 {
  left: 917px;
  display: inline-block;
  width: 42px;
  height: 20px;
}
.action,
.div7,
.div8 {
  left: 1024px;
}
.action,
.div8 {
  left: 1148px;
  display: inline-block;
  width: 85px;
  height: 20px;
}
.action {
  left: 1298px;
  width: 38px;
}
.rectangle-icon {
  position: absolute;
  height: 2.84%;
  width: 2.22%;
  top: 1.6%;
  right: 3.75%;
  bottom: 95.56%;
  left: 94.03%;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.notification-icon {
  position: absolute;
  top: 20px;
  left: 1314px;
  width: 25px;
  height: 26px;
}
.title1 {
  position: relative;
  line-height: 32px;
}
.title {
  position: absolute;
  top: 18px;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--header-h2-size);
  font-family: var(--header-h2);
}
.frame-child1 {
  position: absolute;
  top: 14px;
  left: 295px;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  width: 138px;
  height: 40px;
}
.hindi {
  position: absolute;
  top: 24px;
  left: 335px;
  font-size: var(--text-sm-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-100);
}
.language-svgrepo-com-1-icon {
  position: absolute;
  top: 23px;
  left: 304px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.material-symbolskeyboard-arro-icon,
.material-symbolskeyboard-arro-icon1 {
  position: absolute;
  top: 22px;
  left: 401px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.material-symbolskeyboard-arro-icon1 {
  left: 1386px;
}
.rectangle-parent {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1125px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-hind);
}
