.frame-child49 {
  position: absolute;
  top: 104px;
  left: calc(50% - 690px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  width: 1380px;
  height: 981px;
}
.frame-child50 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  border-radius: 0 0 var(--br-xl) var(--br-2xl);
  background-color: var(--color-royalblue);
  width: 1440px;
  height: 68px;
}
.frame-child51 {
  position: absolute;
  top: 104px;
  left: 30px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 1380px;
  height: 91px;
}
.supporting-text4,
.text16 {
  position: absolute;
  left: 54px;
  font-family: var(--font-poppins);
}
.text16 {
  top: 124px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 500;
  color: var(--color-gray-300);
}
.supporting-text4 {
  top: 156px;
  font-size: var(--text-sm-medium-size);
  line-height: 20px;
  color: var(--gray-500);
  display: inline-block;
  width: 251px;
}
.filter-lines-icon4 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.text17 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button-base12 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-6-wrapper1,
.button-64 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-64 {
  border-radius: var(--br-5xs);
}
.button-6-wrapper1 {
  position: absolute;
  top: 130px;
  left: 1059px;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--font-poppins);
}
.button-base13 {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-54,
.button-base13,
.button-base14 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-54 {
  position: absolute;
  top: 130px;
  left: 1177px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
  font-family: var(--font-poppins);
}
.button-base14 {
  background-color: var(--color-royalblue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-royalblue);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-014,
.frame-child52 {
  position: absolute;
  border-radius: var(--br-5xs);
}
.button-014 {
  top: 130px;
  left: 1297px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-sm-medium-size);
  color: var(--white);
  font-family: var(--font-poppins);
}
.frame-child52 {
  top: 213px;
  left: 54px;
  background-color: var(--color-royalblue);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 44px;
}
.icon4 {
  position: relative;
  width: 20px;
  height: 20px;
}
.field-text4 {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.contents4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.line4 {
  position: relative;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 613px;
  height: 1px;
}
.search4 {
  position: absolute;
  top: 126px;
  left: 329px;
  width: 612px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.div218,
.div219,
.div220,
.div221,
.div222,
.id5,
.sno4 {
  position: absolute;
  top: 225px;
  left: 138px;
  line-height: 20px;
  font-weight: 600;
  color: var(--white);
}
.div218,
.div219,
.div220,
.div221,
.div222,
.sno4 {
  left: 79px;
}
.div218,
.div219,
.div220,
.div221,
.div222 {
  left: 272px;
}
.div219,
.div220,
.div221,
.div222 {
  left: 387px;
  display: inline-block;
  width: 46px;
  height: 20px;
}
.div220,
.div221,
.div222 {
  left: 498px;
  width: 19px;
}
.div221,
.div222 {
  left: 612px;
  width: 26px;
}
.div222 {
  left: 703px;
  width: 38px;
}
.div223 {
  left: 806px;
}
.action4,
.div223,
.div224,
.div225,
.div226 {
  position: absolute;
  top: 225px;
  line-height: 20px;
  font-weight: 600;
  color: var(--white);
}
.div224 {
  left: 917px;
  display: inline-block;
  width: 42px;
  height: 20px;
}
.action4,
.div225,
.div226 {
  left: 1024px;
}
.action4,
.div226 {
  left: 1148px;
  display: inline-block;
  width: 85px;
  height: 20px;
}
.action4 {
  left: 1298px;
  width: 38px;
}
.frame-child53 {
  position: absolute;
  top: 275px;
  left: 54px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 40px;
}
.div227,
.xxxxx234536,
.xxxxx234537 {
  position: absolute;
  top: 285px;
  left: 79px;
  line-height: 20px;
  font-weight: 600;
}
.xxxxx234536,
.xxxxx234537 {
  left: 138px;
}
.xxxxx234537 {
  left: 272px;
}
.div228,
.div229,
.div230,
.div231,
.div232,
.div233,
.div234,
.div235 {
  position: absolute;
  top: 285px;
  left: 387px;
  line-height: 20px;
  font-weight: 600;
}
.div229,
.div230,
.div231,
.div232,
.div233,
.div234,
.div235 {
  left: 612px;
}
.div230,
.div231,
.div232,
.div233,
.div234,
.div235 {
  left: 498px;
}
.div231,
.div232,
.div233,
.div234,
.div235 {
  left: 703px;
}
.div232,
.div233,
.div234,
.div235 {
  left: 806px;
}
.div233,
.div234,
.div235 {
  left: 917px;
}
.div234,
.div235 {
  left: 1024px;
}
.div235 {
  left: 1148px;
}
.vector-icon18 {
  position: absolute;
  height: 1.01%;
  width: 0.14%;
  top: 25.69%;
  right: 8.82%;
  bottom: 73.3%;
  left: 91.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child54 {
  position: absolute;
  top: 323px;
  left: 54px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 40px;
}
.div236,
.xxxxx234538,
.xxxxx234539 {
  position: absolute;
  top: 333px;
  left: 79px;
  line-height: 20px;
  font-weight: 600;
}
.xxxxx234538,
.xxxxx234539 {
  left: 138px;
}
.xxxxx234539 {
  left: 272px;
}
.div237,
.div238,
.div239,
.div240,
.div241,
.div242,
.div243,
.div244 {
  position: absolute;
  top: 333px;
  left: 387px;
  line-height: 20px;
  font-weight: 600;
}
.div238,
.div239,
.div240,
.div241,
.div242,
.div243,
.div244 {
  left: 612px;
}
.div239,
.div240,
.div241,
.div242,
.div243,
.div244 {
  left: 498px;
}
.div240,
.div241,
.div242,
.div243,
.div244 {
  left: 703px;
}
.div241,
.div242,
.div243,
.div244 {
  left: 806px;
}
.div242,
.div243,
.div244 {
  left: 917px;
}
.div243,
.div244 {
  left: 1024px;
}
.div244 {
  left: 1148px;
}
.vector-icon19 {
  position: absolute;
  height: 1.01%;
  width: 0.14%;
  top: 29.96%;
  right: 8.82%;
  bottom: 69.04%;
  left: 91.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child55 {
  position: absolute;
  top: 371px;
  left: 54px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 40px;
}
.div245,
.xxxxx234540,
.xxxxx234541 {
  position: absolute;
  top: 381px;
  left: 79px;
  line-height: 20px;
  font-weight: 600;
}
.xxxxx234540,
.xxxxx234541 {
  left: 138px;
}
.xxxxx234541 {
  left: 272px;
}
.div246,
.div247,
.div248,
.div249,
.div250,
.div251,
.div252,
.div253 {
  position: absolute;
  top: 381px;
  left: 387px;
  line-height: 20px;
  font-weight: 600;
}
.div247,
.div248,
.div249,
.div250,
.div251,
.div252,
.div253 {
  left: 612px;
}
.div248,
.div249,
.div250,
.div251,
.div252,
.div253 {
  left: 498px;
}
.div249,
.div250,
.div251,
.div252,
.div253 {
  left: 703px;
}
.div250,
.div251,
.div252,
.div253 {
  left: 806px;
}
.div251,
.div252,
.div253 {
  left: 917px;
}
.div252,
.div253 {
  left: 1024px;
}
.div253 {
  left: 1148px;
}
.vector-icon20 {
  position: absolute;
  height: 1.01%;
  width: 0.14%;
  top: 34.22%;
  right: 8.82%;
  bottom: 64.77%;
  left: 91.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child56 {
  position: absolute;
  top: 419px;
  left: 56px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 40px;
}
.div254,
.xxxxx234542,
.xxxxx234543 {
  position: absolute;
  top: 429px;
  left: 81px;
  line-height: 20px;
  font-weight: 600;
}
.xxxxx234542,
.xxxxx234543 {
  left: 140px;
}
.xxxxx234543 {
  left: 274px;
}
.div255,
.div256,
.div257,
.div258,
.div259,
.div260,
.div261,
.div262 {
  position: absolute;
  top: 429px;
  left: 389px;
  line-height: 20px;
  font-weight: 600;
}
.div256,
.div257,
.div258,
.div259,
.div260,
.div261,
.div262 {
  left: 614px;
}
.div257,
.div258,
.div259,
.div260,
.div261,
.div262 {
  left: 500px;
}
.div258,
.div259,
.div260,
.div261,
.div262 {
  left: 705px;
}
.div259,
.div260,
.div261,
.div262 {
  left: 808px;
}
.div260,
.div261,
.div262 {
  left: 919px;
}
.div261,
.div262 {
  left: 1026px;
}
.div262 {
  left: 1150px;
}
.vector-icon21 {
  position: absolute;
  height: 1.01%;
  width: 0.14%;
  top: 38.49%;
  right: 8.68%;
  bottom: 60.5%;
  left: 91.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child57 {
  position: absolute;
  top: 467px;
  left: 56px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 40px;
}
.div263,
.xxxxx234544,
.xxxxx234545 {
  position: absolute;
  top: 477px;
  left: 81px;
  line-height: 20px;
  font-weight: 600;
}
.xxxxx234544,
.xxxxx234545 {
  left: 140px;
}
.xxxxx234545 {
  left: 274px;
}
.div264,
.div265,
.div266,
.div267,
.div268,
.div269,
.div270,
.div271 {
  position: absolute;
  top: 477px;
  left: 389px;
  line-height: 20px;
  font-weight: 600;
}
.div265,
.div266,
.div267,
.div268,
.div269,
.div270,
.div271 {
  left: 614px;
}
.div266,
.div267,
.div268,
.div269,
.div270,
.div271 {
  left: 500px;
}
.div267,
.div268,
.div269,
.div270,
.div271 {
  left: 705px;
}
.div268,
.div269,
.div270,
.div271 {
  left: 808px;
}
.div269,
.div270,
.div271 {
  left: 919px;
}
.div270,
.div271 {
  left: 1026px;
}
.div271 {
  left: 1150px;
}
.vector-icon22 {
  position: absolute;
  height: 1.01%;
  width: 0.14%;
  top: 42.76%;
  right: 8.68%;
  bottom: 56.24%;
  left: 91.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child58 {
  position: absolute;
  top: 515px;
  left: 56px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 0.5px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 1332px;
  height: 40px;
}
.div272,
.xxxxx234546,
.xxxxx234547 {
  position: absolute;
  top: 525px;
  left: 81px;
  line-height: 20px;
  font-weight: 600;
}
.xxxxx234546,
.xxxxx234547 {
  left: 140px;
}
.xxxxx234547 {
  left: 274px;
}
.div273,
.div274,
.div275,
.div276,
.div277,
.div278,
.div279,
.div280 {
  position: absolute;
  top: 525px;
  left: 389px;
  line-height: 20px;
  font-weight: 600;
}
.div274,
.div275,
.div276,
.div277,
.div278,
.div279,
.div280 {
  left: 614px;
}
.div275,
.div276,
.div277,
.div278,
.div279,
.div280 {
  left: 500px;
}
.div276,
.div277,
.div278,
.div279,
.div280 {
  left: 705px;
}
.div277,
.div278,
.div279,
.div280 {
  left: 808px;
}
.div278,
.div279,
.div280 {
  left: 919px;
}
.div279,
.div280 {
  left: 1026px;
}
.div280 {
  left: 1150px;
}
.frame-child59,
.frame-child60,
.vector-icon23 {
  position: absolute;
  height: 1.01%;
  width: 0.14%;
  top: 47.02%;
  right: 8.68%;
  bottom: 51.97%;
  left: 91.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child59,
.frame-child60 {
  height: 19.62%;
  width: 13.89%;
  top: 23.66%;
  right: 3.26%;
  bottom: 56.71%;
  left: 82.85%;
}
.frame-child60 {
  height: 17.08%;
  width: 11.11%;
  top: 2.3%;
  right: 0;
  bottom: 80.62%;
  left: 88.89%;
}
.edit3 {
  position: absolute;
  top: 2px;
  left: 26px;
  line-height: 14px;
  font-weight: 600;
}
.feather-icon-edit-23 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 26.5px);
  width: 16px;
  height: 16px;
}
.group-div {
  position: absolute;
  top: 320px;
  left: 1253px;
  width: 53px;
  height: 16px;
  font-size: var(--text-sm-medium-size);
  color: var(--dark);
  font-family: var(--header-h2);
}
.update3 {
  position: absolute;
  top: 0.5px;
  left: 26px;
  line-height: 14px;
  font-weight: 600;
}
.feather-icon-refresh-ccw3 {
  position: absolute;
  top: calc(50% - 7.25px);
  left: calc(50% - 38.42px);
  width: 14.83px;
  height: 14px;
}
.update-parent1 {
  position: absolute;
  top: 359.5px;
  left: 1253px;
  width: 76px;
  height: 14.5px;
  font-size: var(--text-sm-medium-size);
  color: var(--dark);
  font-family: var(--header-h2);
}
.download3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 14px;
  font-weight: 600;
}
.download-wrapper1 {
  position: absolute;
  top: 399px;
  left: 1279px;
  width: 68px;
  height: 14px;
  font-size: var(--text-sm-medium-size);
  color: var(--dark);
  font-family: var(--header-h2);
}
.frame-child61,
.help-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child61 {
  height: 2.84%;
  width: 2.22%;
  top: 1.6%;
  right: 3.75%;
  bottom: 95.56%;
  left: 94.03%;
  border-radius: var(--br-xl);
  object-fit: cover;
}
.help-icon1 {
  height: 2.13%;
  width: 1.67%;
  top: 1.96%;
  right: 7.64%;
  bottom: 95.91%;
  left: 90.69%;
}
.notification-icon4 {
  position: absolute;
  top: 20px;
  left: 1258px;
  width: 25px;
  height: 26px;
}
.title9 {
  position: relative;
  line-height: 32px;
}
.title8 {
  position: absolute;
  top: 18px;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--header-h2-size);
  color: var(--white);
  font-family: var(--header-h2);
}
.download-svgrepo-com-1-icon3 {
  position: absolute;
  top: 398px;
  left: 1253px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.frame-child62 {
  position: absolute;
  top: 14px;
  left: 295px;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  width: 138px;
  height: 40px;
}
.hindi4 {
  position: absolute;
  top: 24px;
  left: 335px;
  font-size: var(--text-sm-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-poppins);
}
.language-svgrepo-com-1-icon4 {
  position: absolute;
  top: 23px;
  left: 304px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.material-symbolskeyboard-arro-icon8,
.material-symbolskeyboard-arro-icon9 {
  position: absolute;
  top: 22px;
  left: 401px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.material-symbolskeyboard-arro-icon9 {
  left: 1386px;
}
.personal-center-log-out-svgrep-icon3 {
  position: absolute;
  top: 128px;
  left: 1329px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.add-admin1,
.log-out3 {
  position: absolute;
  top: 125px;
  left: 1353px;
  font-size: var(--text-sm-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.add-admin1 {
  top: 82px;
}
.add-profile-svgrepo-com-1-icon1 {
  position: absolute;
  top: 84px;
  left: 1329px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangle-container {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1125px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-hind);
}
